/*--------------------------Generic styling------------------*/
html {
    height: 100%;
}

body {
    padding: 2vh;

}


.bb {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}



/*--------------------------Left------------------*/ 

.leftMenu {
    padding-top: 2vh;
}




/*--------------------------Right------------------*/

.layout {
    padding-top: 2vh;
    padding-bottom: 2vh;
}


.inner { 
    padding: 2vh;   
}

.title {
    padding-bottom: 2vh;
}

/*--------------------------Month------------------*/


.displayMonthLeft {
    min-height: 4vh;
    padding-left: 3vw;
}

.displayMonthRight {
    min-height: 4vh;
}


/*--------------------------Day------------------*/
