/*--------------------------Generic styling------------------*/
html {
    height: 100%;
}

body {
    padding: 2vh;

}


.bb {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}



/*--------------------------Left------------------*/ 

.leftMenu {
    padding-top: 2vh;
}




/*--------------------------Right------------------*/

.layout {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#bgColor {
    background-color: aqua;
}
