/*--------------------------Generic styling------------------*/
html {
    height: 100%;
}

body {
    padding: 20px;

}


p {
    margin-top: 10px;
}

.bb {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}


/*--------------------------Left------------------*/




/*--------------------------Right------------------*/

.internal{
    padding: 0px !important;
}
